<?xml version="1.0"?>
<model>
  <name>BabyShark 260 VTOL</name>
  <version>1.0</version>
  <sdf version='1.4'>babyshark_vtol.sdf</sdf>

  <author>
   <name>Bernhard Paus Graesdal</name>
   <email>bernhard@aviant.no</email>
  </author>

  <description>
    Model of BabyShark 260 VTOL.
  </description>
</model>
